.contact_us{
  color: black;
  background-color: white;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center; /* Centering the container */
}

.leftSection {
  margin-bottom: 20px;
  width: 100%;
}

.rightSection {
  background: #082362;
  padding: 20px;
  /* border-radius: 30px; */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 100%;
  color: white;
}

.h2 {
  color: #082362;
  font-size: 1.5em;
  text-align: left;
  font-weight: 700;
}

.contactDetails {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.leftSection h2{
  color: #082362;
  font-weight: 700;
  font-size: 1.5em;
}

.leftSection p{
  font-size: 1.2em;

}

.detailItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  justify-content: center; /* Centering each detail item */
}

.icon {
  font-size: 30px;
  color: #082362;
  margin-right: 10px;
  padding: 10px;
  border-radius: 50px;
}

.textContainer {
  flex-grow: 1; /* Ensures the text container takes up remaining space */
  max-width: 400px; /* Sets a max-width for consistent alignment */
  display: flex;
  flex-direction: column;
}

.detailItem h3 {
  margin: 0;
  font-size: 1.2em;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
}

.detailItem p {
  margin: 0;
  font-size: 0.9em;
  font-family: 'Jost', sans-serif;
}

.contactForm {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup.row {
  display: flex;
  flex-direction: column;
}

.formGroup.row .formGroup {
  flex: 1;
}

.formGroup label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #5f656b ;
  /* border-radius: 15px; */
  font-size: 1em;
  background-color: #ffffff;
  color: black;
}

.formGroup textarea {
  height: 200px;
  /* height: 30vh; */
}

.formGroup input::placeholder,
.formGroup textarea::placeholder{
  color: #787e84;
}

.submitButton {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  /* border-radius: 15px; */
  cursor: pointer;
  height: 45px;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 1em;
}

.successMessage {
  color: green;
  margin-top: 1rem;
  font-weight: bold;
}

.errorMessage {
  color: red;
  margin-top: 1rem;
  font-weight: bold;
}


@media (min-width: 768px) {
  .contactContainer {
    flex-direction: row;
  }

  .leftSection {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .rightSection {
    flex: 1;
  }

  .formGroup.row {
    flex-direction: row;
    gap: 20px;
  }
}
