.HeaderNavbar {
    background-color: #082362;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically in the center */
    padding: 8px 0px;
}

.RightContent,
.LeftContent {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.RightContent .BreakLine,
.LeftContent .BreakLine {
    margin: 0 20px;
    font-weight: 100;
}

.AddressContainer,
.NumberContainer,
.TimingContainer {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.h6 {
    font-size: 15px;
    margin: 0; /* Remove default margin */
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    color: white;
    margin-right: 10px; /* Adjust margin for balanced spacing */
    transition: color 0.3s ease;
    cursor: pointer;
    padding: 6px 10px;
    /* border-radius: 50%;  */
    display: flex;
    align-items: center;
    justify-content: center;

}

.TimingContainer .icon,
.AddressContainer .icon,
.NumberContainer .icon {
    color: white !important; 
    padding: 6px 8px;
    background-color: transparent; /* Set to transparent for icons other than social media */
}


.phoneLink {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    .HeaderNavbar {
        padding: 8px 0px;
        text-align: center;
    }
    .AddressContainer,.BreakLine {
        display: none;
    }
    .LeftContent {
        display: flex;
        flex-direction: row;
    }
    .BreakLine {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .HeaderNavbar {
        padding: 8px 0px;
        text-align: center; /* Center text alignment */
    }
    .icon {
        padding: 6px 6px;
    }
}

@media screen and (max-width:350px){
    
    .icon{
        font-size: 13px;
    }
    .h6 {
        font-size: 13px;
    }
}
