.centralPlaceSydney{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 40px;
    gap: 10;
    padding: 0px 10px;

}
.heading{
    flex: 1;
}
.heading h1{
    font-weight: 500;
}
.paragraph{
    flex: 3;
}
.paragraph p{
    /* text-align: center; */
    color: #5f5959;
    padding: 0px 40px;
    font-size: 1.3em;
}

@media screen and (max-width:1200px){
    .centralPlaceSydney{
    margin: 20px 10px;
    }
    .paragraph p{
        padding: 0px 0px;
    }
}

@media screen and (max-width:768px) {
    .centralPlaceSydney{
    margin: 20px 0px;
    display: block;
    }
    .paragraph p{
        padding: 0px 0px;
        font-size: 1em;
    }
}