.Project {
    color: white;
  background-color: #001443;
  font-family: 'Jost', sans-serif;
  /* min-height: 100vh; */
  padding: 20px 0px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.title {
  margin-bottom: 10px;
  color: white;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
}

.description {
  line-height: 1.5;
  color: #c6c5c5;
  font-size: 1.1em;
  font-family: 'Jost', sans-serif;
  text-align: start;
  padding: 0 20px;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0px;
 

}

.sliderWrapper {
  position: relative;
}

.slideButton {
  position: absolute;
  top: 50%;
  outline: none;
  border-radius: 12px;
  border-color: rgba(255, 255, 255, .1);
  /* height: 45px;
  width: 50px; */
  /* min-height: 5vh !important;
  min-width: 2vw !important;
  max-height: 5vh !important;
  max-width: 3vw !important; */
  z-index: 5;
  /* display: flex; */
  cursor: pointer;
  font-size: 1.6rem;
  /* align-items: center; */
  /* justify-content: center; */
  transform: translateY(-50%);
  /* border-width: 1px; */
  color: #07294d;
  background-color: white;
}

.leftButton {
  left: 0;
}

.rightButton {
  right: 0;
}

.imageList {
  display: flex;
  list-style: none;
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 0;
  margin-bottom: 0px;
}

.imageList::-webkit-scrollbar {
  display: none;
}

.imageItemWrapper {
  flex: 0 0 50%;
  max-width: 50%;
  overflow: hidden;
}

.imageItem {
  width: 100%;
  height: 500px;
  object-fit: cover;
  /* border-radius: 40px; */
  border:1px solid rgba(255, 255, 255, .2);
  background-color: #fff;
}

.allImage {
  padding: 20px;
}

.companyImage {
  width: 100%;
  height: 100%;
  position: relative;
}

.firstImage .companyImage {
  filter: none;
  -webkit-filter: none;
}

.CompanyLogoImage{
  width: 100%;
  height: 100%;

}

.companyContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.companyName {
  text-align: start;
  color: rgb(250,123,37);
  font-weight: 600;
  font-size: 1.5em;
}

.companyInfo {
  text-align: start;
  font-weight: 600;
  font-size: 1em;

}

.row {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.row img {
  margin-right: 20px;
  border-radius: 50%;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.authorName {
  margin: 0;
  font-size: 1.2em;
  font-weight: 600;
  text-align: start;
}

.authorPosition {
  font-size: 0.9em;
  font-family: 'Jost', sans-serif;
text-align: start;
}


.cardContent {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.location {
  color: black;
  margin-bottom: 10px;
}

.projectName {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;

}

.features {
  font-size: 1em;
  color: black;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1;
  max-height: 1em;
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leasing {
  flex: 1;
  padding: 10px 10px;
  font-size: 1em;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  background: #082362;
  color: white; 
}

.leasingButton{
  max-width: fit-content;
  /* padding: 10px 30px; */
}

.detailsLink {
  flex: 1;
  padding: 10px 10px;
  font-size: 1em;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  background: #082362;
  color: white;
}

.detailsLink:hover,.leasing:hover {
  text-decoration: none;
    background: #0e3dab;
}





@media only screen and (max-width: 750px) {

  .imageList {
    scroll-snap-type: x mandatory;
  }

  .imageItemWrapper {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .imageItem {
  /* height: 50vh; */
    width: 100%;
  }


  .companyInfo {
    min-height: 5vh;
  }

  .leasingButton{
    padding: 10px 20px;
  }
}

@media (max-width: 768px) {
  .slideButton {
    top: 30%;
  }
  .card {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .features {
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
    line-height: normal;
    max-height: none;
  }
  .imageItem{
  /* height: 60vh; */
  }
  .slideButton{
    top: 40%;
  }
}

@media screen and (max-width:500px){
  .slideButton{
    /* height: 40px;
    width: 40px; */
  }
}


@media screen and (max-width: 490px) {
  .leasing {
    font-size: 0.7em;
  }

  .detailsLink {
    font-size: 0.7em;
  }
  .imageItem{
    /* height: 40vh; */
    }
} 



