.teamSection {
  text-align: start;
  padding: 4rem 2rem;
  background-color: #ffffff;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 4fr; /* Adjust to have content and images side by side */
  gap: 1rem;
}

.teamMemberContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Ensure 4 images in one row */
  gap: 1rem;
}

.leftColumn {
  grid-column: span 1;
}

.leftColumn h2 {
  color: #07294d;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.7em;
}

.teamMember {
  position: relative;
  width: 100%;
  transition: transform 0.5s ease;

}
.imageContainer{
  width: auto;
  height: auto;
  overflow: hidden;
}

.teamImage {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.teamImageBlur {
  width: 100%;
  height: 100%;
  filter: blur(12px);
  -webkit-filter: blur(12px);
  transition: transform 0.5s ease; /* Smooth transition for the zoom effect */
}

.teamMember:hover .teamImage,
.teamMember:hover .teamImageBlur {
  transform: scale(1.1); /* Zoom in on hover */
}

.overlay {
  background: #0a1e4e;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 10px 0px;
  text-align: center;
  transition: transform 0.5s ease;
  
}

.teamMember .overlay {
  opacity: 1;
}

.text h3 {
  margin: 0;
  font-size: 1.1rem;
  border-bottom: 1px solid #acabab;
}

.text p {
  padding-top: 5px;
  margin: 0;
  font-size: 0.7rem;
  font-weight: 300;
  text-transform: uppercase;
}

.icon {
  color: white;
  padding: 3px 6px;
  border-radius: 50%;
}

@media (max-width: 1180px) {
  .gallery {
    grid-template-columns: 1fr; /* Ensure content in one column */
    gap: 2rem; /* Adjust gap between rows */
  }

  .leftColumn {
    grid-column: span 1;
    margin-bottom: 2rem;
    min-width: 100%;
  }

  .teamMemberContainer {
    grid-template-columns: repeat(4, 1fr); /* Ensure 4 images in one row */
    gap: 1rem;
  }

  .leftColumn{
    margin-bottom: 0rem;
  }
  
  .text h3 {
    font-size: 1rem;
  }
  
  .text p {
    font-size: 0.7.5rem;
    font-weight: 300;
  }
  
  .teamMember {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .gallery {
    grid-template-columns: 1fr;
  }

  .leftColumn {
    grid-column: span 1;
  }


  .teamMemberContainer {
    grid-template-columns: repeat(2, 1fr); /* Adjust for smaller screens */
  }
}

@media (max-width: 450px) {

  .leftColumn {
    margin-bottom: 0rem;
  }

  .teamMemberContainer {
    grid-template-columns: repeat(1, 1fr); /* Adjust for smaller screens */
  }
}
